        <footer>
           
            <div class="footer-info">
                <p>© 2023 Nodepop. <%= __('All rights reserved') %>.</p>
                <p>
                    <a href="politica-privacidad.html">
                        <%= __('Privacy Policy') %>
                    </a> | 
                    <a href="terminos-condiciones.html">
                        <%= __('Terms and Conditions') %>
                    </a> |
                     <a href="ley-proteccion-datos.html">
                        <%= __('Data Protection Act') %>
                    </a>
                </p>
            </div>

  

        </footer>

    </body>
</html>